# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Steve\Documents\personal-java\bukkit\premium\ToolsPlus-v2-Recode\modules\TrenchModule\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
